@import url("https://fonts.googleapis.com/css2?family=Pompiere&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

* {
  outline: none;
  box-sizing: border-box;
}

.line-clamp {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.clamp-3 {
  -webkit-line-clamp: 3;
}

.clamp-2 {
  -webkit-line-clamp: 2;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  width: 100%;
}

.svg-shadow svg {
  filter: drop-shadow(1px 1px 1px rgb(0 0 0 / 0.4));
}

.path {
  fill: transparent;
}

.show-categories {
  transform: scale(1);
}

@media only screen and (min-width: 768px) {
  .show-categories.trans {
    transform: translateY(100%);
  }
}

.show-categories svg {
  overflow: visible;
  margin: auto;
}

.show-categories path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear forwards 300ms;
  fill: #f8d9d6;
  transition: fill 4s ease 500ms;
}

.show-contact path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 500ms linear forwards 300ms;
  fill: var(--fill);
  transition: fill 1000ms ease var(--delay);
  stroke: var(--fill);
  animation-delay: var(--delay);
}

.animate-stroke {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 3s ease-in forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.waving span {
  animation: waving 1s ease-in-out infinite alternate;
  animation-delay: var(--delay);
  position: relative;
}

@keyframes waving {
  from {
    bottom: 0;
  }

  to {
    bottom: 15px;
  }
}

.show {
  transform: translate(0) rotate(0) scale(1);
  opacity: 1;
}

.fade span {
  opacity: 0;
}

.show-fade span {
  animation: fade 500ms ease-in-out forwards;
  animation-delay: var(--delay);
}

.wave span {
  position: relative;
  opacity: 0;
  bottom: -100px;
}

.show-wave span {
  animation: wave 500ms ease-in-out forwards;
  animation-delay: var(--delay);
}

@keyframes wave {
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes fade {
  to {
    opacity: 1;
  }
}

/* -------------------------------------------------------------------------- */
/*                                  scrollbar                                 */
/* -------------------------------------------------------------------------- */

.pink-scroll::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
.pink-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.pink-scroll::-webkit-scrollbar-thumb {
  background: #e85a8a;
  border-radius: 10px;
}

/* -------------------------------------------------------------------------- */
/*                      LOCOMOTIVE SCROLL DEFAULT STYLES                      */
/* -------------------------------------------------------------------------- */

html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}
.c-scrollbar:hover {
  transform: scaleX(1.45);
}
.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}
[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}
[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #e85a8a;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}
