* {
  outline: none;
  box-sizing: border-box;
}

.line-clamp-3 {
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  width: 100%;
}

.anim-span {
  animation: move-text 0.5s forwards;
}

@keyframes move-text {
  100% {
    bottom: 0;
    opacity: 1;
    transform: translateY(0);
  }
}

.show {
  transform: translate(0) rotate(0) scale(1);
  opacity: 1;
}

.path {
  fill: transparent;
}

.show-categories {
  transform: scale(1);
}

@media only screen and (min-width: 768px) {
  .show-categories.trans {
    transform: translateY(100%);
  }
}

.show-categories svg {
  overflow: visible;
  margin: auto;
}

.show-categories path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear forwards 300ms;
  fill: #f8d9d6;
  transition: fill 4s ease 500ms;
}

.show-contact path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 500ms linear forwards 300ms;
  fill: var(--fill);
  transition: fill 1000ms ease var(--delay);
  stroke: var(--fill);
  animation-delay: var(--delay);
}

.animate-stroke {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 3s ease-in forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

#loading > span {
  animation: wave 1s ease-in-out infinite alternate;
  animation-delay: var(--delay);
  position: relative;
}

@keyframes wave {
  from {
    bottom: 0;
  }

  to {
    bottom: 15px;
  }
}
